body {
  font-family: "Poppins", sans-serif;
  background: #0b0c10;
  color: #c5c6c7;
  margin: 0;
  padding: 0;
}

.hidden { display: none !important; }

.center {
  text-align: center;
  margin-top: 20vh;
}

h1 { color: #66fcf1; }

button {
  padding: 10px 20px;
  background: #45a29e;
  color: #0b0c10;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: #66fcf1;
}

/* Admin Panel */
#admin-panel {
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-list {
  margin-top: 25px;
  padding: 15px;
  background: #1f2833;
  border-radius: 10px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  background: #0b0c10;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  align-items: center;
  border: 1px solid #1f2833;
}

.file-item span {
  font-size: 0.95rem;
  color: #66fcf1;
}

.actions button {
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.actions .del {
  background: #d9534f;
  color: white;
}
.actions .del:hover {
  background: #b52b27;
}

.loading {
  text-align: center;
  opacity: 0.8;
}
